@import "../../global.scss";

.ecommerce {
    display:flex;
    background-color:rgb(174, 252, 226);
    align-items:center;
    


.ecommerce-left {
    justify-content:center;

}

.ecommerce-right {
    justify-content:flex-end;
    
}


    
}