@import "../../global.scss";

.employee-tracker {
    display:flex;
    background-color:rgb(245, 255, 209);
    align-items:center;
    


.employee-tracker-left {
    justify-content:center;

}

.employee-tracker-right {
    justify-content:flex-end;
    
}

   
}