@import "../../global.scss";

.note-taker {
    display:flex;
    background-color:rgb(174, 252, 226);
    align-items:center;
    


.note-taker-left {
    justify-content:center;

}

.note-taker-right {
    justify-content:flex-end;
    
}


    
}