@import "../../global.scss";

.scheduler {
    display:flex;
    background-color:rgb(209, 237, 255);
    align-items:center;
    


.scheduler-left {
    justify-content:center;

}

.scheduler-right {
    justify-content:flex-end;
    
}

   
}