@import "../../global.scss";

.team-profile-gen {
    display:flex;
    background-color:rgb(217, 174, 252);
    align-items:center;
    


.team-profile-gen-left {
    justify-content:center;

}

.team-profile-gen-right {
    justify-content:flex-end;
    
}


    
}