@import "../../global.scss";

.weather-app {
    display:flex;
    background-color:rgb(255, 230, 209);
    align-items:center;
    

.weather-app-left {
    justify-content:center;

}

.weather-app-right {
    justify-content:flex-end;
    
}

   
}